<div class="collection-mobile-back" (click)="mobileFilterBack()">
  <span class="filter-back">
    <i class="fa fa-angle-left" aria-hidden="true"></i> Back
</span>
</div>
<div class="collection-collapse-block border-0 open">
  <h3 class="collapse-block-title">Category</h3>
  <div class="collection-collapse-block-content">
    <div class="collection-brand-filter">
      <ul class="category-list">
<!--        <li><a [routerLink]="'/inicio/categoria/mujer'">Mujer</a></li>-->
        <li><a [routerLink]="'/inicio/categoria/hombre'">Man</a></li>
<!--        <li><a [routerLink]="'/inicio/categoria/niños'">Niños</a></li>-->
<!--        <li><a [routerLink]="'/inicio/categoria/niñas'">Niñas</a></li>-->
<!--        <li><a [routerLink]="'/inicio/categoria/especial'">Especial</a></li>-->
      </ul>
    </div>
  </div>
</div>
