<!--<form>-->
<!--  <div class="row">-->
<!--    <div class="col-lg-12 col-sm-12 col-xs-12">-->
<!--      <div class="checkout-title">-->
<!--        <h3>My account</h3>-->
<!--      </div>-->
<!--      <div class="row check-out">-->
<!--        <div class="form-group col-lg-6 col-md-6 col-sm-6 col-xs-12">-->
<!--          <div class="field-label">Name(s)</div>-->
<!--          <input type="text" class="form-control" name="firstname" [formControl]="checkoutForm.controls['firstname']"-->
<!--                 value=""-->
<!--                 placeholder="" autocomplete="off">-->
<!--          <div-->
<!--            *ngIf="checkoutForm.controls.firstname.touched && checkoutForm.controls.firstname.errors?.required"-->
<!--            class="text text-danger">-->
<!--            Name is required.-->
<!--          </div>-->
<!--          <div-->
<!--            *ngIf="checkoutForm.controls.firstname.touched && checkoutForm.controls.firstname.errors?.pattern"-->
<!--            class="text text-danger">-->
<!--            Only letters are allowed in the name.-->
<!--          </div>-->
<!--        </div>-->
<!--        <div class="form-group col-md-6 col-sm-6 col-xs-12">-->
<!--          <div class="field-label">Lastname(s)</div>-->
<!--          <input type="text" class="form-control" name="lastname" [formControl]="checkoutForm.controls['lastname']"-->
<!--                 value=""-->
<!--                 placeholder="" autocomplete="off">-->
<!--          <div *ngIf="checkoutForm.controls.lastname.touched && checkoutForm.controls.lastname.errors?.required"-->
<!--               class="text text-danger">-->
<!--            Lastname is required.-->
<!--          </div>-->
<!--          <div *ngIf="checkoutForm.controls.lastname.touched && checkoutForm.controls.lastname.errors?.pattern"-->
<!--               class="text text-danger">-->
<!--            Only letters are allowed in the lastname.-->
<!--          </div>-->
<!--        </div>-->
<!--        <div class="form-group col-md-6 col-sm-6 col-xs-12">-->
<!--          <div class="field-label">Telephone number</div>-->
<!--          <input type="text" class="form-control" name="telephone" [formControl]="checkoutForm.controls['telephone']"-->
<!--                 value=""-->
<!--                 placeholder=""-->
<!--                 autocomplete="off">-->
<!--          <div-->
<!--            *ngIf="checkoutForm.controls.telephone.touched && checkoutForm.controls.telephone.errors?.required"-->
<!--            class="text text-danger">-->
<!--            Telephone is required.-->
<!--          </div>-->
<!--          <div-->
<!--            *ngIf="checkoutForm.controls.telephone.touched && checkoutForm.controls.telephone.errors?.pattern"-->
<!--            class="text text-danger">-->
<!--            Only numbers are allowed on the phone.-->
<!--          </div>-->
<!--        </div>-->
<!--        <div class="form-group col-md-6 col-sm-6 col-xs-12">-->
<!--          <div class="field-label">E-mail</div>-->
<!--          <input type="text" class="form-control" name="buyerEmail" [formControl]="checkoutForm.controls['buyerEmail']"-->
<!--                 value=""-->
<!--                 placeholder=""-->
<!--                 autocomplete="off">-->
<!--          <div-->
<!--            *ngIf="checkoutForm.controls.buyerEmail.touched && checkoutForm.controls.buyerEmail.errors?.required"-->
<!--            class="text text-danger">-->
<!--            E-mail is required.-->
<!--          </div>-->
<!--          <div-->
<!--            *ngIf="checkoutForm.controls.buyerEmail.touched && checkoutForm.controls.buyerEmail.errors?.email"-->
<!--            class="text text-danger">-->
<!--            E-mail invalid.-->
<!--          </div>-->
<!--        </div>-->
<!--        <div class="form-group col-md-6 col-sm-6 col-xs-12">-->
<!--          <div class="field-label">Select country</div>-->
<!--          <select class="form-control" name="shippingCountry" [formControl]="checkoutForm.controls['shippingCountry']">-->
<!--            <option value="" selected disabled>Select the country</option>-->
<!--            <option *ngFor="let data of paises" value="{{data.alpha2Code}}">{{data.name}}</option>-->
<!--          </select>-->
<!--          <div-->
<!--            *ngIf="checkoutForm.controls.shippingCountry.touched && checkoutForm.controls.shippingCountry.errors?.required"-->
<!--            class="text text-danger">-->
<!--            Country is required.-->
<!--          </div>-->
<!--        </div>-->
<!--        <div class="form-group col-md-6 col-sm-6 col-xs-12">-->
<!--          <div class="field-label">Address</div>-->
<!--          <input type="text" class="form-control" name="shippingAddress"-->
<!--                 [formControl]="checkoutForm.controls['shippingAddress']"-->
<!--                 value=""-->
<!--                 placeholder="" autocomplete="off">-->
<!--          <div-->
<!--            *ngIf="checkoutForm.controls.shippingAddress.touched && checkoutForm.controls.shippingAddress.errors?.required"-->
<!--            class="text text-danger">-->
<!--            Address is required.-->
<!--          </div>-->
<!--          <div-->
<!--            *ngIf="checkoutForm.controls.shippingAddress.touched && checkoutForm.controls.shippingAddress.errors?.maxlength"-->
<!--            class="text text-danger">-->
<!--            Max. 50 characters.-->
<!--          </div>-->
<!--        </div>-->
<!--        <div class="form-group col-md-6 col-sm-6 col-xs-12">-->
<!--          <div class="field-label">City</div>-->
<!--          <input type="text" class="form-control" name="shippingCity"-->
<!--                 [formControl]="checkoutForm.controls['shippingCity']" value=""-->
<!--                 placeholder=""-->
<!--                 autocomplete="off">-->
<!--          <div-->
<!--            *ngIf="checkoutForm.controls.shippingCity.touched && checkoutForm.controls.shippingCity.errors?.required"-->
<!--            class="text text-danger">-->
<!--            City is required.-->
<!--          </div>-->
<!--        </div>-->
<!--&lt;!&ndash;        <div class="form-group col-md-6 col-sm-6 col-xs-12">&ndash;&gt;-->
<!--&lt;!&ndash;          <div class="field-label">Departamento</div>&ndash;&gt;-->
<!--&lt;!&ndash;          <input type="text" class="form-control" name="state" [formControl]="checkoutForm.controls['state']" value=""&ndash;&gt;-->
<!--&lt;!&ndash;                 placeholder=""&ndash;&gt;-->
<!--&lt;!&ndash;                 autocomplete="off">&ndash;&gt;-->
<!--&lt;!&ndash;          <div *ngIf="checkoutForm.controls.state.touched && checkoutForm.controls.state.errors?.required"&ndash;&gt;-->
<!--&lt;!&ndash;               class="text text-danger">&ndash;&gt;-->
<!--&lt;!&ndash;            El departamento es requerido&ndash;&gt;-->
<!--&lt;!&ndash;          </div>&ndash;&gt;-->
<!--&lt;!&ndash;        </div>&ndash;&gt;-->
<!--        <div class="form-group col-md-6 col-sm-6 col-xs-12">-->
<!--          <div class="field-label">Zip code</div>-->
<!--          <input type="text" class="form-control" name="postalcode" [formControl]="checkoutForm.controls['postalcode']"-->
<!--                 value=""-->
<!--                 placeholder="" autocomplete="off">-->
<!--          <div-->
<!--            *ngIf="checkoutForm.controls.postalcode.touched && checkoutForm.controls.postalcode.errors?.required"-->
<!--            class="text text-danger">-->
<!--            Zip code is required.-->
<!--          </div>-->
<!--        </div>-->
<!--        <div class="col-md-6 col-sm-6 col-xs-12 d-flex align-items-center justify-content-center">-->
<!--          <button class="btn-solid btn"-->
<!--                  type="submit" (click)="update(checkoutForm)">-->
<!--            Update-->
<!--          </button>-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->
<!--</form>-->
