<!-- header start -->
<header id="sticky" class="sticky" style="background: rgba(250,250,250,1)">
  <div class="mobile-fix-option">
    <div class="top-header">
      <div class="container">
        <app-topbar></app-topbar>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <div class="main-menu">

          <div class="menu-left">
            <div class="brand-logo">
              <a [routerLink]="['/inicio']">
                <img src="assets/images/icon/logo.png" class="img-fluid" alt="logo imagen">
              </a>
            </div>
          </div>
          <div class="menu-right pull-right">
            <div>
              <app-navbar></app-navbar>
            </div>
            <div>
              <app-header-widgets [shoppingCartItems]="shoppingCartItems"></app-header-widgets>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>
<!-- header end -->
<!--Donde esta ese mi cuenta ?-->
<!--DOnde esta el login ?-->
