<section class="pwd-page">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 offset-lg-3">
        <h2>Change your password</h2>
        <form class="theme-form">
          <div class="form-row">
            <div class="col-md-12">
              <input type="password" class="form-control" id="password" [formControl]="changeForm.controls['password']"
                     placeholder="enter your new password" required="">
              <div
                *ngIf="changeForm.controls.password.touched && changeForm.controls.password.errors?.required"
                class="text text-danger">
                Password is required
              </div>
            </div>
            <div class="col-md-12">
              <input type="password" class="form-control" id="password2"
                     [formControl]="changeForm.controls['password2']"
                     placeholder="Repit your new password" required="">
              <div
                *ngIf="changeForm.controls.password2.touched && changeForm.controls.password2.errors?.required"
                class="text text-danger">
                Password is required
              </div>
            </div>
            <button class="btn btn-solid" type="submit" [disabled]="changeForm.invalid">Update</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>
