<!-- breadcrumb start -->
<div class="breadcrumb-section">
  <div class="container">
    <div class="row">
      <div class="col-sm-6">
        <div class="page-title">
          <h2>Product</h2>
        </div>
      </div>
      <div class="col-sm-6">
        <nav aria-label="breadcrumb" class="theme-breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a [routerLink]="'/inicio/one'">Home</a></li>
            <li aria-current="page" class="breadcrumb-item active">product</li>
          </ol>
        </nav>
      </div>
    </div>
  </div>
</div>
<!-- breadcrumb End -->
<!-- section start -->
<section class="section-b-space" style="max-width: 100vw">
  <div class="collection-wrapper">
    <div class="container">
      <div class="row">
        <div class="col-sm-3 collection-filter">
          <product-details-sidebar></product-details-sidebar>
        </div>
        <div class="col-lg-9 col-sm-12 col-xs-12">
          <div class="container-fluid">
            <div class="row">
              <div class="col-xl-12">
                <div class="filter-main-btn mb-2">
                  <span class="filter-btn" (click)="mobileSidebar()"><i class="fa fa-bars" aria-hidden="true"></i> Menu</span>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-lg-6 zoom">
                <ngx-slick-carousel class="product-slick" id="p-zoom" #slickModal="slick-carousel"
                                    [config]="slideConfig">
                  <div ngxSlickItem >
                    <div>
                      <ngx-img-zoom [previewImageSrc]="image" [zoomImageSrc]="image" imgStyle="width:100%; height:100%;" resultStyle="background-repeat: no-repeat; z-index: 2; position:absolute;
                      background-size: 1614px 2064px;
                                   -webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
                                    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24); top: 0;left: 100%;"
                                    lensStyle="width:100px; height:100px" containerStyle="position: relative;"
                                    (mouseover)="onMouseOver()" (mouseout)="onMouseOut()">
                      </ngx-img-zoom>
                    </div>
                  </div>
                </ngx-slick-carousel>
                <div class="row">
                  <div class="col-12 p-0">
                    <ngx-slick-carousel class="slider-nav" #slickModal="slick-carousel" [config]="slideNavConfig">
                      <div ngxSlickItem *ngFor="let image of product.pictures">
                        <div>
                          <img [src]="image" alt="producto imagen" class="img-fluid">
                        </div>
                      </div>
                    </ngx-slick-carousel>
                  </div>
                </div>
              </div>
              <div class="col-lg-6 inzoom">
                <div>
                  <img src="{{image}}" alt="producto imagen" class="img-fluid ">
                </div>
                <div class="row justify-content-center align-items-center m-3">
                  <div class="img-movil" *ngFor="let image of product.pictures; let i= index" (click)="changeImg(i)">
                    <img src="{{image}}" alt="producto imagen" width="100" height="100" class="img-fluid">
                  </div>
                </div>
              </div>
              <div class="col-lg-6 rtl-text">
                <div class="product-right">
                  <h2>{{product.shortDetails}}</h2>
                  <h2>{{product.name}}</h2>
                  <h4 *ngIf="product.sale">
                    <del>{{product.salePrice | currency:'AUD':'symbol'}}</del>
                    <span>{{cartService.porcdtco * 100}}% off</span></h4>
                  <h3>{{product.price - (product.price * cartService.porcdtco) | currency:'AUD':'symbol'}}</h3>
                  <ul class="color-variant" *ngIf="product.variants">
                    <h5>Color</h5>
                    <li [class]="variant.color" (click)="slickModal.slickGoTo(i)"
                        *ngFor="let variant of product.variants let i = index"></li>
                  </ul>
                  <div class="pro_inventory">
                    <p class="active">{{descrip1}}</p>
                    <p class="active">{{descrip2}}</p>
                    <div class=" active header-contact">
                      <ul>
                        <li>
                          <a class="awpp" href="https://wa.me/61451918341">
                            <i class="m-1" aria-hidden="true"><img class="img" src="/assets/images/wpp.png" alt="logo wpp"></i>+61451918341
                          </a>
                        </li>
                      </ul>
                    </div>
                  </div>
                  <div class="product-description border-product">
                    <h6 class="product-title size-text" *ngIf="product.size">
                      Select size
                      <!--<span><a href="">size chart</a></span>-->
                    </h6>
                    <div class="size-box" *ngIf="product.size">
                      <ul>
                        <li [ngClass]="{'activeSize': selectedSize == size}" *ngFor="let size of product.size">
                          <a [routerLink]="" (click)="changeSizeVariant(size)">{{size}}</a>
                        </li>
                      </ul>
                    </div>
                    <h5 class="avalibility" *ngIf="qty.value <= product.stock"><span>In stock</span></h5>
                    <h5 class="avalibility" *ngIf="qty.value > product.stock"><span>Out of stock</span></h5>
                    <div *ngIf="product.references">
                      <h5 class="text-black" *ngFor="let ref of product.references.split(';')">
                        <strong>{{ref.split(',')[0]}} </strong><a
                        [routerLink]="'/inicio/product/'+ref.split(',')[1].replace(' ','-').replace('/','-')">{{ref.split(',')[1]}}</a>
                      </h5>
                    </div>
                    <h6 class="product-title">Quantity</h6>
                    <div class="qty-box">
                      <div class="input-group">
                        <span class="input-group-prepend">
                                <button type="button" (click)="decrement()" class="btn quantity-left-minus"
                                        data-type="minus" data-field="">
                                 <i class="icon-angle-left"></i>
                             </button>
                         </span>
                        <input type="text" #qty name="quantity" class="form-control input-number" value="{{counter}}">
                        <span class="input-group-prepend">
                            <button type="button" (click)="increment()" class="btn quantity-right-plus" data-type="plus"
                                    data-field="">
                                <i class="icon-angle-right"></i>
                            </button>
                        </span>
                      </div>
                    </div>
                  </div>
                  <div class="product-buttons">
                    <a [routerLink]="" (click)="addToCart(product, qty.value)" class="btn btn-solid m-1"
                       [class.disabled]="qty.value > product.stock">Add</a>
                    <a [routerLink]="" (click)="buyNow(product, qty.value)" class="btn btn-solid m-1"
                       [class.disabled]="qty.value > product.stock">Shop Now</a>
                  </div>
                  <div class="border-product">
                    <h6 class="product-title">Product Details</h6>
                    <p>{{product.shortDetails}}</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <section class="tab-product m-0">
            <div class="row">
              <div class="col-sm-12 col-lg-12 m-4">
                <ul class="nav nav-tabs nav-material" id="top-tab" role="tablist">
                  <li class="nav-item">
                    <a class="nav-link active" id="top-home-tab" data-toggle="tab" href="#top-home" role="tab"
                       aria-selected="true">
                      <i class="icofont icofont-ui-home"></i>Dispatch</a>
                    <div class="material-border"></div>
                  </li>
                </ul>
                <div class="tab-content nav-material" id="top-tabContent">
                  <div class="tab-pane fade show active" id="top-home" role="tabpanel" aria-labelledby="top-home-tab">
                    <p>{{descrip1}}</p>
                    <p>{{descrip2}}</p>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-12 col-lg-12 m-4">
                <ul class="nav nav-tabs nav-material" id="top-tab2" role="tablist">
                  <li class="nav-item">
                    <a class="nav-link active" id="profile-top-tab" data-toggle="tab" href="#top-profile" role="tab"
                       aria-selected="true"><i class="icofont icofont-man-in-glasses"></i>Details</a>
                    <div class="material-border"></div>
                  </li>
                </ul>
                <div class="tab-content nav-material" id="top-tabContent2">
                  <div class="tab-pane show fade active" id="top-profile" role="tabpanel"
                       aria-labelledby="profile-top-tab">
                    <p>{{product.shortDetails}}</p>
                    <div class="single-product-tables">
                      <table class="w-50 table-responsive">
                        <tbody>
                        <tr>
                          <td>Colour</td>
                          <td>{{product.colorSpanish}}</td>
                        </tr>
                        <tr>
                          <td>Material</td>
                          <td>{{product.tela}}</td>
                        </tr>
                        </tbody>
                      </table>
                      <table class="w-50">
                        <tbody>
                        <tr>
                          <td>Embroidery technique</td>
                          <td>{{product.tecnica}}</td>
                        </tr>
                        <tr>
                          <td>Size</td>
                          <td>{{product.sizes}}</td>
                        </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </section>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Section ends -->
<!-- Modal size chart -->
<div class="modal fade" id="sizemodal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">{{ product.name }}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <img src="assets/images/size-chart.jpg" alt="producto imagen" class="img-fluid">
      </div>
    </div>
  </div>
</div>
