<!-- Parallax banner -->
<section class="p-0">
  <div class="full-banner parallax text-center">
    <div class="container">
      <div class="row">
        <div class="col">
          <div class="banner-contain justify-content-center" style="z-index: -1">
            <h3>Art to dress</h3>
            <h4>Handmade</h4>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Parallax banner end -->
