<!-- breadcrumb start -->
<div class="breadcrumb-section">
  <div class="container">
    <div class="row">
      <div class="col-sm-6">
        <div class="page-title">
          <h2>Our collection</h2>
        </div>
      </div>
      <div class="col-sm-6">
        <nav aria-label="breadcrumb" class="theme-breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a [routerLink]="'/inicio/one'">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page">Collection</li>
          </ol>
        </nav>
      </div>
    </div>
  </div>
</div>
<!-- breadcrumb End -->
<!--section start-->
<section class="collection section-b-space">
  <div class="container">
    <div class="row partition-collection">
      <div class="col-lg-3 col-md-6 mt-2" *ngFor="let col of colleciones">
        <div class="collection-block">
          <img [routerLink]="'/inicio/categoria/'+col.name" [src]="col.img" class="img-fluid " style="cursor: pointer;" alt="collection imagen">
          <div class="collection-content">
            <h4>({{col.productos}}) Products</h4>
            <h3>{{col.name}}</h3>
            <!--<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry....</p>-->
            <a [routerLink]="'/inicio/categoria/'+col.name" class="btn btn-outline">Shop Now!</a>
          </div>
        </div>
      </div>
    </div>

  </div>
</section>
<!--Section ends-->
