<!-- breadcrumb start -->
<div class="breadcrumb-section">
  <div class="container">
    <div class="row">
      <div class="col-sm-6">
        <div class="page-title">
          <h2>Contact</h2>
        </div>
      </div>
      <div class="col-sm-6">
        <nav aria-label="breadcrumb" class="theme-breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a [routerLink]="'/inicio/one'">Home</a></li>
            <li class="breadcrumb-item active">Contact</li>
          </ol>
        </nav>
      </div>
    </div>
  </div>
</div>
<!-- breadcrumb End -->
<!--section start-->
<section class=" contact-page section-b-space">
  <div class="container">
    <div class="row section-b-space">
      <div class="col-lg-7 map">
        <iframe
          src="https://www.google.com/maps/embed/v1/view?key=AIzaSyBU8g4RJS3cpChQZ1Jy5zoH-Ey5m_8-DwA&center=4.7519763,-75.9056639&zoom=18"
          allowfullscreen></iframe>
      </div>
      <div class="col-lg-5">
        <div class="contact-right">
          <ul>
            <li>
              <div class="contact-icon">
                <img src="assets/images/icon/phone.png" alt="Generic placeholder image">
                <h6>Contact us</h6>
              </div>
<!--              <div class="media-body">-->
<!--                <p>Juan</p>-->
<!--                <p>Lendy</p>-->
<!--              </div>-->
<!--            </li>-->
<!--            <li>-->
<!--              <div class="contact-icon">-->
<!--                <i class="fa fa-map-marker" aria-hidden="true"></i>-->
<!--                <h6>Dirección</h6>-->
<!--              </div>-->
<!--              <div class="media-body">-->
<!--                <p>Frixio casa del bordado, Cartago</p>-->
<!--                <p>Colombia</p>-->
<!--              </div>-->
<!--            </li>-->
<!--            <li>-->
<!--              <div class="contact-icon">-->
<!--                <img src="assets/images/icon/email.png" alt="Generic placeholder image">-->
<!--                <h6>Dirección</h6>-->
<!--              </div>-->
              <div class="media-body">
                <p>Support@Shopcart.com</p>
                <p>info@shopcart.com</p>
              </div>
            </li>
            <li>
              <div class="media-body">
                <p>Support@Shopcart.com</p>
                <p>info@shopcart.com</p>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12">
        <form class="theme-form">
          <div class="form-row">
            <div class="col-md-6">
              <label for="name">Name</label>
              <input type="text" class="form-control" id="name" placeholder="Enter your name" required="">
            </div>
            <div class="col-md-6">
              <label for="last-name">Lastname</label>
              <input type="text" class="form-control" id="last-name" placeholder="Lastname" required="">
            </div>
            <div class="col-md-6">
              <label for="review">Phone</label>
              <input type="text" class="form-control" id="review" placeholder="Telephone number" required="">
            </div>
            <div class="col-md-6">
              <label for="email">E-mail</label>
              <input type="text" class="form-control" id="email" placeholder="E-mail" required="">
            </div>
            <div class="col-md-12">
              <label for="review">Send us your messaje</label>
              <textarea class="form-control" placeholder="send us your messaje" id="exampleFormControlTextarea1"
                        rows="6"></textarea>
            </div>
            <div class="col-md-12">
              <button class="btn btn-solid" type="submit">Send messaje</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>
<!--Section ends-->
