.efecty{
  background-image: url(/assets/images/BOTON-EFECTY.png);
}
.bancolombia{
  background-image: url(/assets/images/BOTON-BANCOLOMBIA.png);
}
.payu{
  background-image: url(/assets/images/BOTON-PAYU.png);
}
.davivienda{
  background-image: url(/assets/images/BOTON-DAVIVIENDA.png);
}
.colpatria{
  background-image: url(/assets/images/BUTON-COLPATRIA.png);
}
.baloto{
  background-image: url(/assets/images/BUTTON-BALOTO.png);
}

.butons{
  border: none;
  background-repeat: no-repeat;
  background-size: contain;
  background-color: #f9f9f9;
  margin: 0;
  height: 40px;
  width: 110px;
  padding: .6rem;
  opacity: 2;
}
.btn{
  height: 45px;
  width: 115px;
}

.img-fluid{
  height: 40px;
  width: 110px;
}
