<section class="tab-product m-0">
  <input type="file" (change)="fileEvent($event)">
  <div class="row">
    <div class="col-sm-12 col-lg-12">
      <ul class="nav nav-tabs nav-material" id="top-tab" role="tablist">
        <li class="nav-item m-2">
          <a class="nav-link active" id="review-top-tab" data-toggle="tab" href="#top-review" role="tab"
             aria-selected="false">
            <i class="icofont icofont-contacts"></i>Add products</a>
          <div class="material-border"></div>
        </li>
        <li class="nav-item m-2">
          <a class="nav-link " id="update-top-tab" data-toggle="tab" href="#top-update" role="tab"
             aria-selected="false">
            <i class="icofont icofont-contacts"></i>Manage products</a>
          <div class="material-border"></div>
        </li>
      </ul>
      <div class="tab-content nav-material" id="top-tabContent" *ngIf="show">
        <div class="tab-pane fade show active" id="top-review" role="tabpanel" aria-labelledby="review-top-tab">
          <form class="theme-form" [formGroup]="addProduct" (submit)="Product(addProduct)">
            <div class="form-row">
              <div class="col-md-12">
                <label for="collection">Category</label>
                <select id="collection" class="form-control" formControlName="id_collection"
                        [disabled]="addProduct.value.cat>0">
                  <option selected value="" disabled>Select the Catalogue</option>
                  <option *ngFor="let collection of collection"
                          [value]="collection.id">{{collection.name}}</option>
                </select>
              </div>

              <div class="col-md-6">
                <label for="name">Nombre</label>
                <input type="text" class="form-control" id="name" formControlName="name"
                       placeholder="Ingrese el nombre del producto" required>
              </div>
              <div class="col-md-6">
                <label for="discount">Descuento</label>
                <input type="number" class="form-control" id="discount" formControlName="discount"
                       placeholder="Ingrese el descuento" required>
              </div>
              <div class="col-md-6">
                <label for="stock">Disponibles</label>
                <input type="number" class="form-control" id="stock" formControlName="stock"
                       placeholder="Ingrese unidades disponibles"
                       required>
              </div>
              <div class="col-md-6">
                <label for="price">Precio</label>
                <input type="text" class="form-control" id="price" formControlName="price"
                       placeholder="Ingrese El precio en USD, EUR, AUD y Mayorista separado por ,"
                       required>
              </div>
              <div class="col-md-6">
                <label for="tela">Tela</label>
                <input type="text" class="form-control" id="tela" formControlName="tela"
                       placeholder="Ingrese el tipo de tela"
                       required>
              </div>
              <div class="col-md-6">
                <label for="tecnica">Técnica</label>
                <input type="text" class="form-control" id="tecnica" formControlName="tecnica"
                       placeholder="Ingrese la tecnica de bordado"
                       required>
              </div>
              <div class="col-md-6">
                <label for="details">Detalles</label>
                <input type="text" class="form-control" id="details" formControlName="shortDetails"
                       placeholder="Ingrese los detalles"
                       required>
              </div>
              <div class="col-md-6">
                <label for="categorie">Category</label>
                <select id="categorie" class="form-control" formControlName="cat" (change)="change()">
                  <option selected value="" disabled>Select to category</option>
                  <option *ngFor="let cat of categories" [value]="cat.id">{{cat.name}}</option>
                </select>
              </div>
              <div class="col-md-6">
                <label for="subcategorie">Category</label>
                <select id="subcategorie" class="form-control" formControlName="id_subcategory"
                        [disabled]="addProduct.value.cat>0">
                  <option selected value="" disabled>Select Subcategory</option>
                  <option *ngFor="let subcat of sub"
                          [value]="subcat.id">{{subcat.name}}</option>
                </select>
              </div>
              <div class="col-md-6">
                <label for="sizes">Size</label>
                <select multiple id="sizes" class="form-control" formControlName="sizes">
                  <option selected value="" disabled>Select size</option>
                  <option *ngFor="let siz of sizes" [value]="siz.id">{{siz.name}}</option>
                </select>
              </div>
              <div class="col-md-6 d-flex flex-column justify-content-center align-items-start">
                <label for="sale">¿Discounted product?</label>
                <label class="switch">
                  <input type="checkbox" id="sale" formControlName="sale">
                  <div class="slider round"></div>
                </label>
              </div>
              <div class="col-md-6 d-flex flex-column justify-content-center align-items-start">
                <label for="new">¿Product new?</label>
                <label class="switch">
                  <input type="checkbox" id="new" formControlName="new">
                  <div class="slider round"></div>
                </label>
              </div>
              <div class="col-md-12">
                <label for="description">Description</label>
                <textarea class="form-control" placeholder="enter description" formControlName="description"
                          id="description" rows="6"></textarea>
              </div>
              <div class="col-md-12">
                <button class="btn btn-solid" type="submit">Agregar y pasar a las fotos</button>
              </div>
            </div>
          </form>
        </div>
        <div class="tab-pane fade" id="top-update" role="tabpanel" aria-labelledby="update-top-tab">
          <section class="cart-section section-b-space w-100" style="height: auto; min-height: 97vh">
            <div class="container m-0">
              <div class="col-sm-12 empty-cart-cls text-center" *ngIf="!products.length">
                <img src="assets/images/icon-empty-cart.png" class="img-fluid mb-4">
                <h3><strong>No hay ningun producto</strong></h3>
                <h4>:(</h4>
              </div>
              <div class="row" *ngIf='products.length'>
                <div class="col-sm-12">
                  <input type="text" (keyup)="searchTerm($event.target.value)" class="form-control"
                         id="exampleInputPassword1" placeholder="Search a Product">
                  <table class="table  table-responsive" style="overflow: auto;">
                    <thead>
                    <tr class="table-head">
                      <th scope="col">nombre</th>
                      <th scope="col">referencia</th>
                      <th scope="col">Precio</th>
                      <th scope="col">Catalogue</th>
                      <th scope="col">Actualizar</th>
                      <th scope="col">Eliminar</th>
                    </tr>
                    </thead>
                    <tbody class="table-body" *ngFor="let item of searchProducts">
                    <tr>
                      <td class="text-left" style="min-width: 130px;"><h6>{{item.name}}</h6></td>
                      <td class="text-left" style="min-width: 130px;"><h6>{{item.shortDetails}}</h6></td>
                      <td class="text-left" style="min-width: 130px;">
                        {{item.prices[0].price | currency:productsService?.currency:'symbol'}}</td>
                      <td class="text-left" style="min-width: 130px;"><h6>{{item.collection?.name}}</h6></td>
                      <td class="text-left" style="min-width: 130px;cursor: pointer;"><a (click)="open2(content2,item)"><i
                        class="fa fa-pencil"
                        aria-hidden="true"></i></a>
                      </td>
                      <td class="text-left" style="min-width: 130px;cursor: pointer;"><a (click)="open(content,item)"><i
                        class="fa fa-trash"
                        aria-hidden="true"></i></a>
                      </td>
                    </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </section>
        </div>
      </div>
      <div class="tab-content nav-material" id="top-tabContentFoto" *ngIf="!show">
        <div class="tab-pane fade show active" id="top-reviewFoto" role="tabpanel" aria-labelledby="review-top-tab">
          <form class="theme-form" (submit)="addProductFinally($event)">
            <div class="form-row">
              <div class="col-md-12">
                <div class="col-md-6">
                  <label for="name">Fotos</label>
                  <input type="file" class="form-control" id="file[]" name="file[]" accept="image/*"
                         placeholder="Ingrese las fotos del producto" (change)="changeImages($event.target.files)"
                         multiple required>
                </div>
                <div class="d-flex justify-content-center align-items-center  m-3" style="height: 300px; width: 254px">
                  <i class="fa fa-chevron-left fa-2x m-2" aria-hidden="true" (click)="next('true')"></i>
                  <img id="blah" [src]="imageSrc || '/assets/images/pro3/1.jpg'" class="img-fluid" width="184"
                       height="250" alt="your image"/>
                  <i class="fa fa-chevron-right fa-2x m-2" aria-hidden="true" (click)="next('false')"></i>
                  <ul class="color-variant d-flex justify-content-center align-items-center flex-column mx-1">
                    <li [class]="variant.color" (click)="setColor(variant.id)"
                        *ngFor="let variant of color"></li>
                  </ul>
                </div>
                <button class="btn btn-solid m-3" type="submit">Agregar
                  producto
                </button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
<ng-template #content let-modal id="contentToConvert">
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Eliminar producto</h4>
  </div>
  <div class="modal-body">
    <h6>¿Deseas eliminar el producto: {{productDelete.shortDetails}} ?</h6>
  </div>
  <div class="modal-footer">
    <button class="btn btn-primary" aria-label="Close" (click)="modal.dismiss()">Cancelar</button>
    <button class="btn btn-danger" (click)="deleteProduct(productDelete.id)">Eliminar</button>
  </div>
</ng-template>

<ng-template #content2 let-modal id="contentToConvert2">
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title2">Actualizar producto</h4>
  </div>
  <div class="modal-body">
    <form class="theme-form" [formGroup]="addProduct">
      <div class="form-row">
        <div class="col-md-12">
          <label for="collection2">Catalogue</label>
          <select id="collection2" class="form-control" formControlName="id_collection"
                  [disabled]="addProduct.value.cat>0">
            <option selected value="" disabled>Select the Catalogue</option>
            <option *ngFor="let collection of collection"
                    [value]="collection.id">{{collection.name}}</option>
          </select>
        </div>

        <div class="col-md-6">
          <label for="name2">Nombre</label>
          <input type="text" class="form-control" id="name2" formControlName="name"
                 placeholder="Ingrese el nombre del producto" required>
        </div>
        <div class="col-md-6">
          <label for="discount2">Descuento</label>
          <input type="number" class="form-control" id="discount2" formControlName="discount"
                 placeholder="Ingrese el descuento" required>
        </div>
        <div class="col-md-6">
          <label for="stock2">Disponibles</label>
          <input type="number" class="form-control" id="stock2" formControlName="stock"
                 placeholder="Ingrese unidades disponibles"
                 required>
        </div>
        <div class="col-md-6">
          <label for="price2">Precio</label>
          <input type="text" class="form-control" id="price2" formControlName="price"
                 placeholder="Ingrese El precio en USD, EUR, AUD y Mayorista separado por ,"
                 required>
        </div>
        <div class="col-md-6">
          <label for="tela2">Tela</label>
          <input type="text" class="form-control" id="tela2" formControlName="tela"
                 placeholder="Ingrese el tipo de tela"
                 required>
        </div>
        <div class="col-md-6">
          <label for="tecnica2">Técnica</label>
          <input type="text" class="form-control" id="tecnica2" formControlName="tecnica"
                 placeholder="Ingrese la tecnica de bordado"
                 required>
        </div>
        <div class="col-md-6">
          <label for="details2">Detalles</label>
          <input type="text" class="form-control" id="details2" formControlName="shortDetails"
                 placeholder="Ingrese los detalles"
                 required>
        </div>
        <div class="col-md-6">
          <label for="categorie2">Category</label>
          <select id="categorie2" class="form-control" formControlName="cat" (change)="change()">
            <option selected value="" disabled>Seleccione la categoría</option>
            <option *ngFor="let cat of categories" [value]="cat.id">{{cat.name}}</option>
          </select>
        </div>
        <div class="col-md-6">
          <label for="subcategorie2">Category</label>
          <select id="subcategorie2" class="form-control" formControlName="id_subcategory"
                  [disabled]="addProduct.value.cat>0">
            <option selected value="" disabled>Seleccione la Subcategoría</option>
            <option *ngFor="let subcat of sub"
                    [value]="subcat.id">{{subcat.name}}</option>
          </select>
        </div>
        <div class="col-md-6">
          <label for="sizes2">Tallas</label>
          <select multiple id="sizes2" class="form-control" formControlName="sizes">
            <option selected value="" disabled>Seleccione las tallas</option>
            <option *ngFor="let siz of sizes" [value]="siz.id">{{siz.name}}</option>
          </select>
        </div>
        <div class="col-md-6 d-flex flex-column justify-content-center align-items-start">
          <label for="sale2">¿Producto en descuento?</label>
          <label class="switch">
            <input type="checkbox" id="sale2" formControlName="sale">
            <div class="slider round"></div>
          </label>
        </div>
        <div class="col-md-6 d-flex flex-column justify-content-center align-items-start">
          <label for="new2">¿Producto nuevo?</label>
          <label class="switch">
            <input type="checkbox" id="new2" formControlName="new">
            <div class="slider round"></div>
          </label>
        </div>
        <div class="col-md-12">
          <label for="description2">Descripción</label>
          <textarea class="form-control" placeholder="Ingrese la descripción" formControlName="description"
                    id="description2" rows="6"></textarea>
        </div>
      </div>
    </form>

  </div>
  <div class="modal-footer">
    <button class="btn btn-primary" aria-label="Close" (click)="modal.dismiss()">Cancelar</button>
    <button class="btn btn-danger" (click)="updateProduct(productUpdate.id,addProduct)">Actualizar</button>
  </div>
</ng-template>
