<!-- Home slider -->
<section class="p-0">
  <ngx-slick-carousel class="home-slider" #slickModal="slick-carousel" [config]="sliderConfig">
    <div ngxSlickItem>
      <div class="home text-center responsive1" [routerLink]="'/inicio/categoria/all'">
        <div class="container">
          <div class="row">
            <div class="col">
              <div class="slider-contain justify-content-center">
                <div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div ngxSlickItem>
      <div class="home  text-center responsive2" [routerLink]="'/inicio/paginas/coleccion'">
        <div class="container">
          <div class="row">
            <div class="col">
              <div class="slider-contain justify-content-center">
                <div>
                  <h3>Happy day </h3>
                  <h1>{{'Dad'|translate}}</h1>
                  <a [routerLink]="'/inicio/categoria/hombre'" class="btn btn-solid">Shop now</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </ngx-slick-carousel>
</section>
<!-- Home slider end -->
