.responsive1 {
  background-repeat: no-repeat;
  background-image: url('/assets/images/home-banner/bnn1.jpg');
  @media only screen and (max-width: 767px) {
    height: 100%;
    background-position: left !important;
  }
}

.responsive2 {
  background-repeat: no-repeat;
  background-image: url('/assets/images/home-banner/bnn2.jpg');
  @media only screen and (max-width: 767px) {
    height: 100%;
    background-position: right !important;
  }
}
