<section class="cart-section section-b-space w-100" style="height: auto; min-height: 97vh">
  <div class="container m-0">
    <div class="col-sm-12 empty-cart-cls text-center" *ngIf="!orders.length">
      <img src="assets/images/icon-empty-cart.png" class="img-fluid mb-4">
      <h3><strong>No se ah realizado ningun pedido</strong></h3>
      <h4>:(</h4>
    </div>
    <div class="row" *ngIf='orders.length'>
      <div class="col-sm-12">
        <input type="text" (keyup)="searchTerm($event.target.value)" class="form-control"
               id="exampleInputPassword1" placeholder="Search a Product">
        <table class="table  table-responsive" style="overflow: auto;">
          <thead>
          <tr class="table-head">
            <th scope="col"># venta</th>
            <th scope="col">Estado</th>
            <th scope="col">Cliente</th>
            <th scope="col">Fecha</th>
            <th scope="col">Productos</th>
            <th scope="col">Quantity</th>
            <th scope="col">Total</th>
            <th scope="col">Ver</th>
          </tr>
          </thead>
          <tbody class="table-body" *ngFor="let item of searchOrders">
          <tr>
            <td class="text-left" style="min-width: 130px;"><h6>#{{item.id}}</h6></td>
            <td class="text-left" style="min-width: 130px;"><h6>{{item.estado}}</h6></td>
            <td class="text-left" style="min-width: 130px;"><h6>{{item.pago.buyerFullName}}</h6></td>
            <td class="text-left" style="min-width: 130px;"><h6>{{item.created_at}}</h6></td>
            <td class="text-left" style="min-width: 130px;"><h6>{{item.products.length}}</h6></td>
            <td class="text-left" style="min-width: 130px;"><h6>{{item.cantidad}}</h6></td>
            <td class="text-left" style="min-width: 130px;">
              <h6>{{getTotal(item.products)| currency:productsService?.currency:'symbol'}}</h6></td>
            <td class="text-left" style="min-width: 130px;cursor: pointer;"><a [routerLink]="['view',item.id]"><i
              class="fa fa-eye"
              aria-hidden="true"></i></a>
            </td>
          </tr>
          </tbody>
        </table>
        <div class="col-12 text-right"><h3>Total products purchased <span>{{greatTotal()  | currency:productsService?.currency:'symbol'}}</span></h3></div>
      </div>
    </div>
  </div>
</section>
