<div class="container">
  <div class="row">
    <div class="d-flex justify-content-center align-items-center col-4 offset-4 h100">
      <div class="theme-card">
        <div class="brand-logo my-5">
          <a [routerLink]="['/home/one']">
            <img src="assets/images/icon/logo.png" class="img-fluid" alt="logo imagen">
          </a>
        </div>
        <form action="" class="theme-form" [formGroup]="formLogin" (submit)="auth(formLogin)">
          <div class="form-group">
            <label for="usuario" class="field-label">Username
            </label>
            <input type="text" id="usuario" class="form-control" formControlName="usuario"
                   placeholder="enter your username" required>
          </div>
          <div class="form-group">
            <label for="pass" class="field-label">Password
            </label>
            <input type="password" id="pass" class="form-control" formControlName="contrasena"
                   placeholder="enter your password" required>
          </div>
          <div class="form-group">
            <div class="alert alert-danger form-group" role="alert" *ngIf="error">
              {{message}}
            </div>
          </div>
          <div class="form-group">
            <button class="buttons btn-solid btn-block text-center" type="submit"
                    [disabled]="formLogin.invalid">Join
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
