<div class="footer-title">
  <h4>Information shop</h4>
</div>
<div class="footer-contant">
  <ul class="contact-list">
<!--    <li><i class="fa fa-map-marker"></i><a href="https://bit.ly/2MTgNTC">Frixio Hecho a mano, Carrera 4 # 1A-72, Cartago Valle del Cauca-->
<!--    </a></li>-->
    <li><i class="fa fa-phone"></i><a href="https://wa.me/61451918341">{{ 'call-us' | translate }}:
      61451918341
    </a></li>
    <li><i class="fa fa-envelope-o"></i>Email: <a href="mailto:frixiohandmade@gmail.com">frixiohandmade@gmail.com</a></li>
  </ul>
</div>
