<!-- breadcrumb start -->
<div class="breadcrumb-section">
  <div class="container">
    <div class="row">
      <div class="col-sm-6">
        <div class="page-title">
          <h2>Login</h2>
        </div>
      </div>
      <div class="col-sm-6">
        <nav aria-label="breadcrumb" class="theme-breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a [routerLink]="'/inicio'">Home</a></li>
            <li class="breadcrumb-item active">Login</li>
          </ol>
        </nav>
      </div>
    </div>
  </div>
</div>
<!-- breadcrumb End -->
<!-- section start -->
<section class="login-page section-b-space">
  <div class="container">
    <div class="row">
      <div class="col-lg-6">
        <h3>Login</h3>
        <div class="theme-card">
          <p>Login to get more discounts</p>
          <form class="theme-form" [formGroup]="formLogin" (submit)="login(formLogin)">
            <div class="form-group">
              <label for="nombre">Id card</label>
              <input type="text" class="form-control" id="nombre" placeholder="Ingrese su cédula"
                     formControlName="nombre" required>
            </div>
            <div class="form-group">
              <label for="cedula">Password</label>
              <input type="password" class="form-control" id="cedula" placeholder="Ingrese su Contraseña"
                     formControlName="cedula"
                     required>
            </div>
            <button class="btn btn-solid" type="submit" [disabled]="formLogin.invalid">Ingresar</button>
          </form>
          <input type="file" (change)="fileEvent($event)">
        </div>
      </div>
      <div class="col-lg-6 right-login">
        <h3>New here?</h3>
        <div class="theme-card authentication-right">
          <h6 class="title-font">Create Account</h6>
          <p>
            Sign up for a free account in our store. Signing up is quick and easy.
            It allows you to be able to order from our store.
            To start shopping, click register.</p>
          <button class="btn btn-solid">Register</button>
        </div>
      </div>
    </div>
  </div>
</section>
<!--Section ends-->

<!--En que parte usa este componente donde esta el "app-login" ?-->
