<!-- breadcrumb start -->
<div class="breadcrumb-section">
  <div class="container">
    <div class="row">
      <div class="col-sm-6">
        <div class="page-title">
          <h2>Create account</h2>
        </div>
      </div>
      <div class="col-sm-6">
        <nav aria-label="breadcrumb" class="theme-breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a [routerLink]="'/inicio/one'">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page">Create account</li>
          </ol>
        </nav>
      </div>
    </div>
  </div>
</div>
<!-- breadcrumb End -->
<!-- section start -->
<section class="register-page section-b-space">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <h3>Create account</h3>
        <div class="theme-card">
          <form class="theme-form">
            <div class="form-row">
              <div class="col-md-6">
                <label for="email">Name</label>
                <input type="text" class="form-control" id="fname" placeholder="Enter your name" required="">
              </div>
              <div class="col-md-6">
                <label for="review">Lastname</label>
                <input type="password" class="form-control" id="lname" placeholder="Enter your lastname" required="">
              </div>
            </div>
            <div class="form-row">
              <div class="col-md-6">
                <label for="email">E-mail</label>
                <input type="text" class="form-control" id="email" placeholder="Enter E-mail" required="">
              </div>
              <div class="col-md-6">
                <label for="review">Password</label>
                <input type="password" class="form-control" id="review" placeholder="Enter password" required="">
              </div>
              <button class="btn btn-solid">Create account</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
<!--Section ends-->
