<section class="p-0 mb-3">
  <div class="collection-wrapper background p-0">
    <div class="container m-0 p-0" style="max-width: 100vw !important;">
      <div class="row">
        <div class="col-2 collection-filter p-0">
          <div class="coll_sidebar_sticky h100">
            <div class="p-0 m-0 collection-filter-block color1 h100">
              <nav class="nav">
                <h2 class="nav-link active m-1" [routerLink]="'/admin/dashboard'">Frixio</h2>
              </nav>
              <div class="list-group-item-action d-flex flex-column align-items-center">
                <button class="btn w-75 btn-solid m-2" [routerLink]="'/admin/dashboard/products'">Productos
                </button>
                <button class="btn w-75  btn-solid m-2" [routerLink]="'/admin/dashboard/pedidos'">Pedidos
                </button>
                <button class="btn w-75  btn-solid m-2" [routerLink]="'/admin/dashboard/graphics'">Graficas
                </button>
              </div>
            </div>
          </div>
        </div>
        <div class="col-10">
          <router-outlet></router-outlet>
        </div>
      </div>
    </div>
  </div>
</section>
