<!--footer section -->
<footer class="footer-light">
  <section class="section-b-space light-layout">
    <div class="container">
      <div class="row footer-theme partition-f">
        <div class="col-lg-4 col-md-6">
          <div class="footer-title footer-mobile-title">
            <h4>About us</h4>
          </div>
          <div class="footer-contant">
            <div class="footer-logo">
              <img src="assets/images/icon/logo.png" alt="logo imagen">
            </div>
            <app-information></app-information>
            <app-social></app-social>
          </div>
        </div>
        <div class="col offset-xl-1">
          <div class="sub-title">
            <app-categories></app-categories>
          </div>
        </div>
        <div class="col">
          <div class="sub-title">
            <app-why-we-choose></app-why-we-choose>
          </div>
        </div>
        <div class="col">
          <div class="sub-title">
            <app-contact></app-contact>
          </div>
        </div>
      </div>
    </div>
  </section>
  <div class="sub-footer">
    <div class="container">
      <app-copyright></app-copyright>
    </div>
  </div>
</footer>
<!--footer section end -->
<!-- Rtl start -->
<!--<div class="rtl-btn" id="">-->
<!--  <a href="javascript:void(0)" class="RTL_cls">-->
<!--    RTL-->
<!--  </a>-->
<!--</div>-->
<!-- rtl end -->
<!-- tap to top -->
<div class="tap-top top-cls">
  <div>
    <i class="fa fa-angle-double-up"></i>
  </div>
</div>
<a href="https://wa.me/61405502663" class="wpp">
  <div class="wpp-icon"></div>
</a>
<a [routerLink]="" (click)="_Location.back()" class="atras">
  <div>
    <i class="fa fa-arrow-left"></i>
  </div>
</a>
<a [routerLink]="'/inicio/carrito'" class="cart">
  <div>
    <span class="cart_qty_cls">{{(CartService.getItems()|async).length}}</span>
    <i class="fa fa-cart-arrow-down fa-2x"></i>
  </div>
</a>
<!-- tap to top -->
