.wpp {
  bottom: 69px;

  &-icon {
    background-image: url('/assets/images/wpp.png');
    background-size: contain;
    width: 100%;
    height: 100%;
    background-origin: content-box;
    background-repeat: no-repeat;
  }

  height: 50px;
  width: 50px;
  border-radius: 100%;
  position: fixed;
  right: 30px;
  z-index: 8;
  color: #fff;
  text-align: center;
  border: none;
  font-size: 22px;
  cursor: pointer;
  animation-name: netflix;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  @media only screen and (max-width: 767px) {
    right: 20px;
    height: 35px;
    width: 35px;
  }
}

@keyframes netflix {
  0% {
    height: 50px;
    width: 50px;
  }
  50% {
    height: 60px;
    width: 60px;
  }
  100% {
    height: 50px;
    width: 50px;
  }
}
.atras {
  background: #ff4c3b;
  bottom: 130px;
  height: 50px;
  width: 50px;
  border-radius: 100%;
  position: fixed;
  left: 30px;
  z-index: 8;
  color: #fff;
  text-align: center;
  border: none;
  font-size: 22px;
  cursor: pointer;
  padding: 7px;
  @media only screen and (max-width: 767px) {
    right: 20px;
    height: 35px;
    width: 35px;
    padding: 2px;
    font-size: 19px;
  }
}
.cart {
  bottom: 69px;
  //background: #ff4c3b;
  height: 50px;
  width: 50px;
  border-radius: 100%;
  position: fixed;
  left: 30px;
  z-index: 8;
  color: black;
  text-align: center;
  border: none;
  font-size: 22px;
  cursor: pointer;
  padding: 7px;

  @media only screen and (max-width: 767px) {
    right: 20px;
    height: 35px;
    width: 35px;
    padding: 2px;
    font-size: 19px;
  }
}
