<div class="footer-social flex-row">
<!--  <ul class="d-flex flex-row">-->
<!--    <a class="social-icons facebook col-3" href="https://www.facebook.com/bordadosdecartagoFrixio/" tabindex="0"></a>-->
<!--    <a href="https://www.instagram.com/frixiobordadosdecartago/?hl=es-la" class="social-icons instagram col-3" tabindex="0"></a>-->
<!--    <a class="social-icons pinterest col-3" href="https://www.pinterest.es/frixiobordados/" tabindex="0"></a>-->
<!-- </ul>&ndash;-->
</div>
