.social-icons {
  display: flex;
  height: 5vh;
  width: 5vw;
}

.facebook {
  background-image: url("/assets/images/Facebook_icon.png");
  background-size: contain;
  background-repeat: no-repeat;
}

.instagram {
  background-image: url("/assets/images/instagram_icon.png");
  background-size: contain;
  background-repeat: no-repeat;
}

.pinterest {
  background-image: url("/assets/images/pinterest_icon.png");
  background-size: contain;
  background-repeat: no-repeat;
}
