<div class="row justify-content-between">
  <div class="col-xl-3 col-md-3 col-sm-12">
    <div class="footer-end">
      <p><i class="fa fa-copyright" aria-hidden="true"></i> {{today | date:'y'}} Algoritmia</p>
    </div>
  </div>
</div>
<!--  <div class="col-xl-9 col-md-9 col-sm-12">-->
<!--    <div class="payment-card-bottom">-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->
