<div class="page-title">
  <h2>My Dashboard</h2>
</div>
<div class="welcome-msg">
  <p>Hello, {{data.cliente.buyerFullName}}!</p>
  <p>From the My Account Panel, you have the ability to view a snapshot of your recent account activity and
    update
    Your account information. Select a link below to view or edit information.</p>
</div>
<div class="box-account box-info">
  <div class="box-head">
    <h2>My account</h2>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <div class="box">
        <div class="box-title">
          <h3>Contact information</h3>
          <a [routerLink]="'/paginas/dashboard/cuenta'">Edit</a>
        </div>
        <div class="box-content row">
          <h6 class="col-sm-6" *ngIf="data.cliente.buyerFullName !=null">{{data.cliente.buyerFullName}}</h6>
          <h6 class="col-sm-6" *ngIf="data.cliente.buyerEmail !=null">{{data.cliente.buyerEmail}}</h6>
          <h6 class="col-sm-6" *ngIf="data.cliente.telephone !=null">{{data.cliente.telephone}}</h6>
          <h6 class="col-sm-6" *ngIf="data.cliente.shippingCountry !=null">{{data.cliente.shippingCountry}}</h6>
          <h6 class="col-sm-6" *ngIf="data.cliente.state !=null">{{data.cliente.state}}</h6>
          <h6 class="col-sm-6" *ngIf="data.cliente.shippingCity !=null">{{data.cliente.shippingCity}}</h6>
          <h6 class="col-sm-6" *ngIf="data.cliente.shippingAddress !=null">{{data.cliente.shippingAddress}}</h6>
          <h6 class="col-sm-12"><a [routerLink]="'/paginas/dashboard/cambiar-contraseña'">Change password</a></h6>
        </div>
      </div>
    </div>
  </div>
</div>
