<!-- side-bar single product slider start -->
<div class="theme-card">
  <h5 class="title-border">Products new</h5>
  <ngx-slick-carousel class="offer-slider" #slickModal="slick-carousel">
    <div ngxSlickItem *ngFor="let product of products | slice:0:3 ">
      <div class="media" *ngFor="let product of products | orderBy:'asc' | slice:0:3 ">
        <a [routerLink]="['/inicio/product', product.ref]"><img class="img-fluid" [src]="product.pictures[0]"
                                                                alt="producto imagen"></a>
        <div class="media-body align-self-center">
          <a [routerLink]="['/inicio/product', product.ref]"><h6>{{product.name}}</h6></a>
          <h4>{{product.price - (product.price * cartService.porcdtco) | currency:productsService?.currency:'symbol'}}</h4>
        </div>
      </div>
    </div>
  </ngx-slick-carousel>
</div>
<!-- side-bar single product slider end -->
