<section class="cart-section section-b-space w-100">
  <h3>Total purchases made: <span>{{getGreatAmount(orders) | currency:productsService?.currency:'symbol'}}</span>
  </h3>
  <div class="container m-0">
    <div class="col-sm-12 empty-cart-cls text-center" *ngIf="!orders.length">
      <img src="assets/images/icon-empty-cart.png" class="img-fluid mb-4">
      <h3><strong>No orders</strong></h3>
      <h4>Add something to make me happy. :)</h4>
    </div>
    <div class="row" *ngIf='orders.length'>
      <div class="col-sm-12">
        <table class="table  table-responsive" style="overflow: auto;">
          <thead>
          <tr class="table-head">
            <th scope="col"># Sale</th>
            <!--<th scope="col">Estado</th>-->
            <th scope="col">Shipping status</th>
            <th scope="col">Date</th>
            <th scope="col">Product</th>
            <th scope="col">Quantity</th>
            <th scope="col">Total</th>
          </tr>
          </thead>
          <tbody class="table-body" *ngFor="let item of orders">
          <tr>
            <td class="text-left" style="min-width: 130px;"><h6>#{{item.id}}</h6></td>
            <!--<td class="text-left" style="min-width: 130px;"><h6>{{item.estado}}</h6></td>-->
            <td class="text-left" style="min-width: 130px;"><h6>{{item.status}}</h6></td>
            <td class="text-left" style="min-width: 130px;"><h6>{{item.created_at.split(' ')[0]}}</h6></td>
            <td class="text-left" style="min-width: 130px;"><h6>{{item.products.length}}</h6></td>
            <td class="text-left" style="min-width: 130px;"><h6>{{item.cantidad}}</h6></td>
            <td class="text-left" style="min-width: 130px;">
              <h6>{{getTotal(item.products)| currency:productsService?.currency:'symbol'}}</h6></td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</section>
