<div class="account-sidebar">
  <a class="popup-btn" (click)="showMenu()">
    My account
  </a>
</div>
<div class="dashboard-left">
  <div class="collection-mobile-back">
                        <span class="filter-back">
                            <i class="fa fa-angle-left" aria-hidden="true" (click)="hideMenu()"></i> Back
                        </span>
  </div>
  <div class="block-content">
    <ul>
      <li routerLinkActive="active" (click)="hideMenu()"><a routerLink="/paginas/dashboard/info">Account Information</a></li>
      <li routerLinkActive="active" (click)="hideMenu()"><a routerLink="/paginas/dashboard/pedidos">My orders</a></li>
      <li routerLinkActive="active" (click)="hideMenu()"><a routerLink="/paginas/dashboard/lista">My wishlist</a></li>
      <li routerLinkActive="active" (click)="hideMenu()"><a routerLink="/paginas/dashboard/cuenta">My account</a></li>
      <li routerLinkActive="active" (click)="hideMenu()"><a routerLink="/paginas/dashboard/cambiar-contraseña">Change password</a></li>
      <li class="last"><a href="" (click)="logout()">Log Out</a></li>
    </ul>
  </div>
</div>
