<!-- breadcrumb start -->
<div class="breadcrumb-section">
  <div class="container">
    <div class="row">
      <div class="col-sm-6">
        <div class="page-title">
          <h2>Recuperar contraseña</h2>
        </div>
      </div>
      <div class="col-sm-6">
        <nav aria-label="breadcrumb" class="theme-breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a [routerLink]="'/inicio/one'">Inicio</a></li>
            <li class="breadcrumb-item"><a [routerLink]="'/paginas/login'">Iniciar Sesión</a></li>
            <li class="breadcrumb-item active" aria-current="page">Recuperar Contraseña</li>
          </ol>
        </nav>
      </div>
    </div>
  </div>
</div>
<!-- breadcrumb End -->
<!-- section start -->
<section class="pwd-page">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 offset-lg-3">
        <h2>Forget Your Password</h2>
        <form class="theme-form">
          <div class="form-row">
            <div class="col-md-12">
              <input type="text" class="form-control" id="email" placeholder="Enter Your Email" required="">
            </div>
            <button class="btn btn-solid">Submit</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>
<!--Section ends-->
